*{
margin: 0px;
}

body {
  background-color: #FFD7E1;
}

header {
  font-family: 'Delius Unicase', cursive;
  background: #FE7C9C;
  color: white;
  text-align: center;
  font-size: 2em;
  padding-bottom: 15px;
  padding-top: 10px;
}

ul {
  background: #95FFCF;
}

li {
  font-size: 1.5em;
  font-family: 'Coming Soon', cursive;
  display: inline-block;
  padding: 10px;
  list-style: none;
  color: #F82690;
}

li a {
  font-family: 'Coming Soon', cursive;
  padding-left: 145px;
  text-decoration: none;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 40px;
  text-align: center;
}

a:hover {
    background-color: #C4FFE0;
}

/*PANDAS*/

.pandas {
  display: inline;
  margin-left: 186px;
  margin-top: 50px;
}

img {
  width: 15%;
  margin-top: 20px;
}

/*secciones*/
.secciones {
  display: block;
  margin-top: 20px;
  margin-left: 60px;
}

.secciones div{
  background-color: #C7FFEB;
  text-align: center;
  color: # #FB7293;
  font-family: 'Coming Soon', cursive;
  padding: 10px 130px;
  display: inline-block;
  margin-left: 40px;
  position: relative;
}
.seccionesArticulo{
    display: inline-block;
    visibility: hidden;
    margin-left: 125px;
    width: 500px;
    text-align: justify;
    font-family: 'Coming Soon', cursive;
    margin-top: 30px;
}

.close {
  position: absolute;
  /*top: 140px;
  left: 360px;*/
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
  color: black;
}

.close:hover,
 .close:focus {
   color: #bbb;
   text-decoration: none;
   cursor: pointer;
 }

.secciones div a {
  padding: 10px 20px;
}
