*{
margin: 0px;
}

body {
  background-color: #FFD7E1;
}

header {
  font-family: 'Delius Unicase', cursive;
  background: #FE7C9C;
  color: white;
  text-align: center;
  font-size: 2em;
  padding-bottom: 15px;
  padding-top: 10px;
}

ul {
  background: #95FFCF;
}

li {
  font-size: 1.5em;
  font-family: 'Coming Soon', cursive;
  display: inline-block;
  padding: 10px;
  list-style: none;
  color: #F82690;
}

a {
  font-family: 'Coming Soon', cursive;
  padding-left: 145px;
  text-decoration: none;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 40px;
  text-align: center;
}

a:hover {
    background-color: #C4FFE0;
}

/*PANDAS*/

.pandas {
  display: inline;
  margin-left: 186px;
  margin-top: 50px;
}

img {
  width: 15%;
  margin-top: 20px;
}
